{% extends 'reccomendation_base.html' %}

{% block content %}

<section class="hero-wrap js-fullheight">
  		<div class="container">
  			<div class="row description js-fullheight align-items-center justify-content-center">
  				<div class="col-md-8 text-center">
  					<div class="text">
  						<h1 style="font-size:60px;">Recommendation Engine</h2>
  						<h4 class="mb-5">Get Personalized and amazing anime reccomendations for watching for free.<em> <b> NO SIGN UP REQUIRED</b></em></h4>
  						<p><a href="/reccomendation/engine" class="btn btn-white px-4 py-3"><i class="ion-ios-play mr-2"></i>Get Started</a></p>
  					</div>
  				</div>
  			</div>
  		</div>
  	</section>

<section class="hero-wrap js-fullheight" style="background-color:black;">
<div class ="text" style="margin-left:30px; margin-right:30px;">
<h1 style=" text-align:center;, font-size:50px;">FAQ's</h1>
<br>
<h4 style="color:white;"><b>Q.1 What is the Recommendation Engine ? </b></h4>
<p style="color:white;"><a href="https://www.indiewire.com/2016/07/netflix-decide-watch-studies-1201708634/">A recent study by Reelgood and Learndipity Data Insights found Netflix users spend on average 18 minutes on a given day deciding what to watch.</a>
Multiple that number with 7 and you waste more than two hours a week deciding what to watch and for us, anime fans deciding which anime to start with is even a harder decision. So we at the anime radio present to you<em>The Anime Recommendation Engine</em> 
The first of its kind Recommendation Engine this app works on a very well structured algorithm which based on your response to some question gives out a perfect Recommendation of anime to wathc. No Hassle of wathcin hundreds of trailers anymore adn reviews anymore.
Get started right now. No sign up required.</p>
<br>
<h4 style="color:white;"><b>Q.2 How to use it ? </b></h4>
<p style="color:white;">There is no other task more simple and easier than using this engine. Just choose whether to answer questions ( recommended ) for some very personal and interest-specific recommendations or get instant recommendations. The rest of the process is self-explanatory. </p>
<div>
</section>

{% endblock %}