{% extends 'base.html' %}
{% load static %}
{% block title %} Home {% endblock %}
{% block content %}

  	<section class="hero-wrap js-fullheight" style="background-color: #2b0021;">
  		<div class="container">
  			<div class="row description js-fullheight align-items-center justify-content-center">
  				<div class="col-md-8 text-center">
  					<div class="text">
  						<h1>the anime radio</h1>
  						<h4 class="mb-5">where we talk anime</h4>
  					</div>
  				</div>
  			</div>
  		</div>
  	</section>

	
	<section class="container">
	
	<img src="{% static 'images/homepagemascot.jpg'%}" style="max-width:100%;, height:auto;">
	</section>
	
	


	<section class="ftco-section ftco-section-2 bg-custom" id="carousel" style="background-color: black;">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-5">
					<h2 class="heading-section mb-4 pb-md-3">
						About Us
					</h2>
					<p style="color:white;">The anime radio is a place for wonders. It is a hub where you can find anything and everything that you need to know about anime. Either you are about to jumpstart an amazing journey in the world on anime and need to see the ranking of various top seasonal shows or you just want to have some fun reading about it. The Anime Radio has a full section dedicated to anime lists for you. Vote your favorite shows so they can shine above others.</p>
					<br>
					<p style="color:white;"> We at the anime radio are just some nerds who once wanted to use the internet to find some worth watching anime. It is then the idea clicked our mind and thus we present to you " The anime recommendation quiz ". One of its kind apps aimed to help you decide what anime to watch quickly regardless of whether you are new, old, or just looking for something fun. Answer a few questions and our algorithm take care of the rest. Peace!</p>
					<p><a href="/reccomendation/" class="btn btn-white">Recommendation</a></p>
				</div>
				<div class="col-md-7">
					<div id="demo" class="carousel slide" data-ride="carousel">

					  <!-- Indicators -->
					  <ul class="carousel-indicators">
						<li data-target="#demo" data-slide-to="0" class="active"></li>
						<li data-target="#demo" data-slide-to="1"></li>
						<li data-target="#demo" data-slide-to="2"></li>
					  </ul>
					  
					  <!-- The slideshow -->
					  <div class="carousel-inner">
						  <div class="carousel-item">
						  <img src="{% static 'images/photo3.jpg' %}" alt="" class="img-fluid rounded">
						</div>
 						  <div class="carousel-item">
						  <img src="{% static 'images/photo2.jpg' %}" alt="" class="img-fluid rounded">
						</div>
     						  <div class="carousel-item">
						  <img src="{% static 'images/photo1.jpg' %}" alt="" class="img-fluid rounded">
						</div>
					  </div>
					  
					  <!-- Left and right controls -->
					  <a class="carousel-control-prev" href="#demo" data-slide="prev">
						<span class="ion-ios-arrow-round-back"></span>
					  </a>
					  <a class="carousel-control-next" href="#demo" data-slide="next">
						<span class="ion-ios-arrow-round-forward"></span>
					  </a>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<section class="ftco-section ftco-section-2 bg-custom" id="carousel" style="background-color: black;">
		<div class="container">
		
		<h1 class="heading-section mb-4 pb-md-3">
						What does the anime radio offers ?
					</h1>
					<h2 class="heading-section mb-4 pb-md-3">Top Anime Lists </h2>
					<p style="color:white">Find at the anime radio ratings lists that you operate. Our lists run at the backend on an algorithm that uses the user's votes along with IMDB plus many other rankings to rank up anime lists. We assure you that these lists are one of the kind and are waiting for you to register and vote up.</p>
					
					<h2 class="heading-section mb-4 pb-md-3">Anime Recommendation Quiz</h2>
					<p style="color:white">The Anime Recommendation Quiz is a web app that recommends your perfect anime to watch under 1 minute. Just answer a few questions and trust Radio to come up with perfect suggestions for you. Currently, we offer the following genres for recommendation </p>
					
					<ul>
					<li style="color:white">Slice of Life</li>
					<li style="color:white">Comedy</li>
					<li style="color:white">Sports</li>
					<li style="color:white">Shounen</li>
					<li style="color:white">Sci-Fi</li>
					<li style="color:white">Dark</li>
					<li style="color:white">Fantasy</li>
					<li style="color:white">Isekai</li>
					</ul>
		
		
		</div>
	</section>
					

  {% endblock %}
