{% extends 'base.html' %}

{%block content %}

<section class="hero-wrap js-fullheight" style="background-color: #000000; max-height:400px;">
        <div class="container">
            <div class="row description js-fullheight align-items-center justify-content-center">
                <div class="col-md-8 text-center" >
                    <div class="text" style="padding-bottom:200px;">
                        <h1>Welcome! {{user.username|capfirst}}</h1>
                        <h4 class="mb-5">This is you portal</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>

<div class="col-md-12 mb-2">

<form action="logout">
    <input type="submit" class="btn btn-primary btn-lg btn-block" value="Logout">
</form>

	</div>
</section>
{% endblock %}