{% extends 'base.html' %}
{% block title %} Portal {% endblock %}
{%block content %}

<section class="hero-wrap js-fullheight" style="background-color: #000000; max-height:400px;">
        <div class="container">
            <div class="row description js-fullheight align-items-center justify-content-center">
                <div class="col-md-8 text-center" >
                    <div class="text" style="padding-bottom:200px;">
                        <h1>Welcome! {{user.username|capfirst}}</h1>
                        <h4 class="mb-5">This is you portal</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="container">
    
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdmxfrH5Rk8XL3biThU232ACTIpVz8OdFF6YdXbgwXPXOVPzw/viewform?embedded=true" width="640" height="934" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    
    </section>
    <br>
    <br>

<div class="col-md-12 mb-2">

<form action="logout">
    <input type="submit" class="btn btn-primary btn-lg btn-block" value="Logout">
</form>

	</div>
</section>
{% endblock %}
