{% extends 'reccomendation_base.html' %}
{% load static %}

{% block content %}
<section class="hero-wrap js-fullheight" style="background-color: black;">
    <div class="container">
  	<div class="row description js-fullheight align-items-center justify-content-center">
  	 <div class="col-md-8 text-center">
  		<div class="text">
        <h1 style="font-size:35px; font-family:monospace; text-align:center; padding-bottom:20px;">Are you new to Anime ?</h2></div>
       
                    <form action="recc2">
                    <div class="row">
                        <div class="col">
                         <button type="submit" name ="answer2" value=1>
                            <img src="{% static 'images/reccq2.png' %}" alt="yes" style="width:100%">
                        </button></div>
                        <div class="col">
                          <button type="submit" name="answer2" value=0>
                            <img src="{% static 'images/reccq2.1.png' %}" alt="no" style="width:100%"> 
                        </button></div>
                       </div> 
                    </form>
                 </div>   
  	    </div>
  	</div>		
</section>

  
 



{% endblock %}
