{% extends 'reccomendation_base.html' %}
{% load static %}

{% block content %}
<section class="hero-wrap js-fullheight" style="background-color: black;">
    <div class="container">
  	<div class="row description js-fullheight align-items-center justify-content-center">
  	 <div class="col-md-8 text-center">
  	   <div class="text">
        <h1 style="font-size:35px; font-family:monospace; text-align:center; padding-bottom:20px;">Do you want to answer some questions related to your anime interests or get random recommendations?</h2></div>		
                    <form action="recc1">
                    <div class="row">
                        <div class="col">
                         <button type="submit" name ="answer1" value=1>
                            <img src="{% static 'images/reccq1.png' %}" alt="yes" style="width:100%"></button>
                        </div>
                        <div class="col">
                          <button type="submit" name="answer1" value=0>
                            <img src="{% static 'images/reccq1.1.png' %}" alt="no" style="width:100%"></button></div>
                   </div> 
                 </form>
  	  
  	  </div>
  	</div>		
    </div>

  
</section>

  
 



{% endblock %}
