{% extends 'reccomendation_base.html' %}
{% load static %}

{% block content %}
<section class="ftco-section ftco-section-2 bg-dark;" id="cards" style="background-color:black";>
    <div class="container">
  					<div class="text">
                    <h1 style="font-size:35px; color:white; font-family:monospace; text-align:center; padding-bottom:20px;">Select Slicec of Life Anime Genre ?</h2>
        			</div>
                  
            <form action="sliceoflife_before_2010">
                <div class="row">
                        <div class="col-md-4">
                         <button type="submit" name="answer_sol_genre" value=1>
                            <img src="{% static 'images/15.png' %}" alt="after 2010" style="width:100%; height:auto;"> 
                            </button>
                        </div>

                        <div class="col-md-4">
                         <button type="submit" name="answer_sol_genre" value=2>
                            <img src="{% static 'images/16.png' %}" alt="after 2010" style="width:100%"> 
                        </button>
                           
                        </div>
                        
                        <div class="col-md-4">
                         <button type="submit" name="answer_sol_genre" value=3>
                            <img src="{% static 'images/17.png' %}" alt="after 2010" style="width:100%"> 
                            </button>
                        </div>

                        <div class="col-md-4">
                         <button type="submit" name="answer_sol_genre" value=4>
                            <img src="{% static 'images/18.png' %}" alt="after 2010" style="width:100%"> 
                            </button>
                        </div> 
                        
                       <div class="col-md-4">
                         <button type="submit" name="answer_sol_genre" value=5>
                            <img src="{% static 'images/19.png' %}" alt="after 2010" style="width:100%">
                            </button>
                        </div>

                        <div class="col-md-4">
                          <button type="submit" name="answer_sol_genre" value=6>
                            <img src="{% static 'images/20.png' %}" alt="after 2010" style="width:100%"> 
                            </button>
                        </div>
                </div>
                 
            </form>
  		</div>
  	</div>		
</section>

  
{% endblock %}
